@import "bootstrap";
// @import 'custom';
// @import 'items';
// @import 'pages';



/* reset ================================ */
@charset "utf-8";

/*googleフォント*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*IE対策*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	    display: block;
}


/*iPhoneのフォントサイズ可変を制御*/
html{
	-webkit-text-size-adjust: none;
	font-size: 62.5%;
}

/*全体のフォントサイズの設定と行の高さをフォントサイズと同じにしています*/
body {
	font-size: 18px;
	font-size:1.8rem;
	line-height: 1.5;
	zoom: 1.0;
}


/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Noto Sans Japanese', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",'Noto Sans Japanese', "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	letter-spacing: -0.001em;
}

/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display: block;
}

/*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/
ul, ol {
	list-style: none;
}

/*引用符の表示が出ないようにしています*/
blockquote, q {
	quotes: none;
}

/*blockquote要素、q要素の前後にコンテンツを追加しないように指定しています*/
blockquote:before,blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*a要素のフォントサイズなどをリセットしフォントの縦方向の揃え位置を親要素のベースラインに揃えるようにしています*/
a{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	line-height: 1;
	color: #0059AC;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
}
a:visited{
	text-decoration: underline;
}

/* ins要素のデフォルトをセットし、色を変える場合はここで変更できるようにしています */
ins {
	background-color: #FF0000;
	color: #000000;
	text-decoration: none;
}

/* mark要素のデフォルトをセットし、色やフォントスタイルを変える場合はここで変更できるようにしています
また、mark要素とは、文書内の検索結果で該当するフレーズをハイライトして、目立たせる際に使用するようです。*/
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

/*テキストに打ち消し線が付くようにしています*/
del {
	text-decoration: line-through;
}

/*IEではデフォルトで点線を下線表示する設定ではないので、下線がつくようにしています
また、マウスオーバー時にヘルプカーソルの表示が出るようにしています*/
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

/*縦方向の揃え位置を中央揃えに指定しています*/
input, select {
	margin: 0;
	vertical-align: baseline;
}

img {
	vertical-align: top;
	line-height: 0;
	font-size: 0;
	max-width: 100%;
	height: auto;
	width /***/:auto;
}

/*clear fix*/
.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.clearOverflow {
	overflow: hidden;
}

.clear{
	clear: both;
}
// ここまでreset css--------------------

//ここからitems css-------------------------

// body {
//   background-color: #f0f0f0;
//   padding: 10px;
//   font-size: 14px;
//   color: #666;
// }
//
// .container {
//   max-width: 800px; /*最大幅を800pxに*/
//   margin: 0 auto; /*左右の余白をautoにして左右中央揃えに */
//   box-shadow: 0 0 10px rgba(0,0,0,.3); /*影をつける*/
// }
//
// header {
//   background-color: #422814;
//   padding: 10px;
//   color: #fff;
// }
//
// header h1 {
//   margin: 0;
//   font-size: 24px;
//   font-weight: normal;
//   text-align: center;
//   font-family: 'Shrikhand', cursive;
// }
//
// .description img {
//   float: left;
//   margin: 0 10px 10px 0;
// }
//
// .information h1 {
//   font-size: 18px;
//   margin: 0 10px 10px 0;
//   float: left;
// }
//
// .information .type {
//   display: inline; /*インラインスタイルに変更*/
//   background-color: #E35A4D;
//   padding: 3px 5px;
//   font-size: 80%;
//   color: #FFF;
// }
//
// .description {
//   clear: left;
// }
//
// .content {
//   background-color: #fff;
//   padding: 20px;
// }
//
// .songs {
//   margin: 0 0 20px;
// }
//
// .songs h2 {
//   clear: left;
//   font-size: 100%;
//   font-weight: normal;
//   margin: 0;
//   background-color: #E6E4DD;
//   padding: 5px 10px;
// }
//
// .songs ol {
//   padding: 0;
//   margin: 0;
//   list-style: decimal inside; /*リストスタイルを算用数字に*/
// }
//
// .songs li {
//   border-bottom: 1px solid #ccc;
//   width: 46%;
//   float: left;
//   padding: 5px 10px;
// }
//
// .clearfix:after {
//   content: " ";
//   display: table;
//   clear: both;
// }
//
// a {
//   color: #666;
//   // text-decoration: none;
// }
//
// footer {
//   text-align: center;
//   font-size: 80%;
// }
//
// .description img:hover {
//   opacity: .5;
// }
//
// .description img {
//   float: left;
//   margin: 0 10px 10px 0;
//   // transition-property: opacity;
//   // transition-duration: 1s;
//   // transition-timing-function: ease;
//   // transition-delay: 0s;
//   transition: opacity 1s ease 0s;
// }
//
// // レスポンシブdesign------------------
// @media only screen and (max-width: 600px){ /*600px以下の場合*/
//   .description img {
//     float: none;
//     display: block;
//     margin: 0 auto; /*画像を中央に揃える*/
//   }
//   header {
//     padding: 5px; /*要素内余白を少し狭くする*/
//   }
//   header h1 {
//     font-size: 12px; /*文字サイズを少し小さくする*/
//   }
//
//   .songs li {
//     float: none;  /*回り込みを解除する*/
//     width: inherit;   /*幅を元に戻す*/
//   }
// }

// forms ----------------------------

// header {
// 	margin-top: 30px;
// 	color: #2E99A9;
// }
//
// hr {
// 	border-width : 3px;
// 	border-color: #2E99A9;
// 	margin: 30px 0;
// }
//
// h1 {
// 	font-size: 18px;
// 	font-weight: bold;
// 	margin: 0;
// }
//
// .form-group {
// 	margin-top: 10px;
// }
//
// .align-right {
// 	text-align: right;
// }
//
// @media only screen and (max-width: 992px) {
// 	.radio_inline {
// 		display: block;
// 		margin: 0 !important;  /*余白を0に（強制的に）*/
// 	}
// }


body {
	font-family: Arial;
	text-align: center;
}

header {
	margin-bottom: 100px;
}

h1 {
	background-color: #000;
	color :#fff;
	margin: 0;
	padding: 10px;
	font-size: 18px;
}

.date {
	font-size: 300%;
	font-family: 'Times New Roman', Times, serif;
}

.container {
	text-align: center;
	max-width: 600px;
	margin: 30px auto;
}

#timer {
	font-size: 36px;
	border : 1px solid #ccc;
	margin: 30px auto;
	padding: 50px;
	background-color: #000;
	color: #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

.btn {
	width: 100%;
}
