body {
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 14px;
  color: #666;
}

.container {
  max-width: 800px; /*最大幅を800pxに*/
  margin: 0 auto; /*左右の余白をautoにして左右中央揃えに */
  box-shadow: 0 0 10px rgba(0,0,0,.3); /*影をつける*/
}

header {
  background-color: #422814;
  padding: 10px;
  color: #fff;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  font-family: 'Shrikhand', cursive;
}

.description img {
  float: left;
  margin: 0 10px 10px 0;
}

.information h1 {
  font-size: 18px;
  margin: 0 10px 10px 0;
  float: left;
}

.information .type {
  display: inline; /*インラインスタイルに変更*/
  background-color: #E35A4D;
  padding: 3px 5px;
  font-size: 80%;
  color: #FFF;
}

.description {
  clear: left;
}

.content {
  background-color: #fff;
  padding: 20px;
}

.songs {
  margin: 0 0 20px;
}

.songs h2 {
  clear: left;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  background-color: #E6E4DD;
  padding: 5px 10px;
}

.songs ol {
  padding: 0;
  margin: 0;
  list-style: decimal inside; /*リストスタイルを算用数字に*/
}

.songs li {
  border-bottom: 1px solid #ccc;
  width: 46%;
  float: left;
  padding: 5px 10px;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

a {
  color: #666;
  // text-decoration: none;
}

footer {
  text-align: center;
  font-size: 80%;
}

.description img:hover {
  opacity: .5;
}

.description img {
  float: left;
  margin: 0 10px 10px 0;
  // transition-property: opacity;
  // transition-duration: 1s;
  // transition-timing-function: ease;
  // transition-delay: 0s;
  transition: opacity 1s ease 0s;
}

// レスポンシブdesign------------------
@media only screen and (max-width: 600px){ /*600px以下の場合*/
  .description img {
    float: none;
    display: block;
    margin: 0 auto; /*画像を中央に揃える*/
  }
  header {
    padding: 5px; /*要素内余白を少し狭くする*/
  }
  header h1 {
    font-size: 12px; /*文字サイズを少し小さくする*/
  }

  .songs li {
    float: none;  /*回り込みを解除する*/
    width: inherit;   /*幅を元に戻す*/
  }
}
